@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Teko:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&family=Teko:wght@300&family=Ultra&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;
  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  font-family: "Stint Ultra Expanded", cursive;
  font-family: "Teko", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-weight: 200;
}
